
<script type="text/javascript">
  function inputRandom() {

  var input_taker = document.getElementById('text').value;
  let rand =  1 - 0.5 + Math.random() * (5 - 1 + 1);

 document.getElementById("rendoming").innerHTML = Math.round(rand);
 document.getElementById(Math.round(rand).toString()).innerHTML = input_taker;
}



  </script>


<h1>Main page</h1>

<div class = "container">
  <div class = "row">
    <div class = "col-12 col-sm-6 col-md-4 bg-primary text-white" id = "1">  1</div>
    <div class = "col-12 col-sm-6 col-md-4 bg-secondary text-white" id = "2">2  </div>
    <div class = "col-12 col-sm-6 col-md-4 bg-success text-white" id = "3"> 3 </div>
    <div class = "col-12 col-sm-6 col-md-6 bg-danger text-white" id = "4"> 4 </div>
    <div class = "col-12 col-sm-12 col-md-6 bg-warning text-dark" id = "5"> 5 </div>
  </div>
</div>

<div id="rendoming">

</div>

<input type="text" id="text"/>
<button type="button" class="btn btn-success" onclick="inputRandom()" id="btn">Click</button>
