
<script type="text/javascript">
  function greenText() {
  document.getElementById("cvet").style.color = 'green';
}
  function redText() {
  document.getElementById("cvet").style.color = 'red';
}
  function blueText() {
  document.getElementById("cvet").style.color = 'blue';
}
  function blueFon() {
  document.getElementById("cvet").style.background = 'blue';
}
  function redFon() {
  document.getElementById("cvet").style.background = 'red';
}
  function greenFon() {
  document.getElementById("cvet").style.background = 'green';
}


  </script>


<h1>Main page</h1>

<div id="cvet">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquet, nulla at accumsan mattis, quam arcu ornare elit, et consequat nunc metus at lorem. Vestibulum hendrerit massa libero, sit amet tristique leo consequat venenatis. Vestibulum in velit dui. Pellentesque vitae tincidunt sapien, gravida rutrum metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer feugiat, risus eget feugiat ornare, augue dui interdum lorem, sit amet bibendum ante odio in felis. Suspendisse at tristique dui. Suspendisse sit amet lacinia dui. Fusce rutrum pharetra mollis. Nunc ultricies convallis neque. 

</div>
<label>Text color </label>
<button type="button" class="btn btn-success" onclick="greenText()" id="btn" >Green</button>
<button type="button" class="btn btn-danger" onclick="redText()" id="btn" >Red</button>
<button type="button" class="btn btn-info" onclick="blueText()" id="btn" >Blue</button>
<br>
<label>Fon color </label>
<button type="button" class="btn btn-info" onclick="blueFon()" id="btn" >Blue</button>
<button type="button" class="btn btn-danger" onclick="redFon()" id="btn" >Red</button>
<button type="button" class="btn btn-success" onclick="greenFon()" id="btn" >Green</button>
