<h2>New song</h2>


<% if @song.errors.any?  %>
       <div class="alert alert-danger">
           <h2>
             <%= pluralize(@song.errors.count, "error") %> 
           </h2>
           <ul>
             <% @song.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
           </ul>
         </div>
     <% end %>

<%= render 'form' %>
